body {
  text-align: center;
  font-family: "Roboto", monospace;
  background-color: lightgreen;
  margin-top:0px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
  border: 10px solid grey;
  border-bottom: lightgray;
}

h1 {
  margin: 0 auto;
  font-family: "Oswald", monospace;
  font-size: 48px;
  margin: 2%;
  color: green;
}

.container {
  display: flex;                /* set our display property to use flex-box */
  align-items: center;          /* center content vertically */
  justify-content: center;      /* center container horizontally */
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;       /* align children in columns instead of rows */
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 50px;
  line-height: 5px;
  user-select: none;
  width: 50px;
 background-color: aquamarine;
}

.wrap {
  flex-wrap: wrap;              /* tells container to drop down once it reaches max-width */
  height: 456px;
  width: 456px;
}

.square:hover {
  background-color: turquoise;
  cursor: pointer;
}
