body {
  text-align: center;
  font-family: "Roboto", monospace;
  background-color: lightgreen;
  margin-top:0px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
  border: 10px solid grey;
  border-bottom: lightgray;
}

h1 {
  margin: 0 auto;
  font-family: "Oswald", monospace;
  font-size: 48px;
  margin: 2%;
  color: green;
}
